In [29]:
import pandas as pd
import numpy as np


df = pd.read_csv('data/unclean_data.csv')
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)

In [30]:
df.head()

,Unnamed: 0,G,Date,,Opp,W/L,Tm,Opp.1,FG,FGA,FG%,3P,3PA,3P%,FT,FTA,FT%,ORB,TRB,AST,STL,BLK,TOV,PF,ORtg,DRtg,Pace,FTr,3PAr,TS%,TRB%,AST%,STL%,BLK%,.1,eFG%,TOV%,ORB%,FT/FGA,.2,eFG%.1,TOV%.1,DRB%,FT/FGA.1
0,0,1.0,2009-10-28,NaN,IND,W,120.0,109.0,46.0,87.0,0.529,7.0,12.0,0.583,21.0,29.0,0.724,8.0,35.0,30.0,16.0,6.0,10.0,25.0,119.0,108.1,100.8,0.333,0.138,0.601,46.7,65.2,15.9,10.9,NaN,0.569,9.1,19.0,0.241,NaN,0.603,22.9,81.8,0.288
1,1,2.0,2009-10-30,NaN,WAS,W,100.0,89.0,32.0,78.0,0.410,5.0,20.0,0.250,31.0,34.0,0.912,11.0,47.0,18.0,5.0,7.0,12.0,24.0,108.5,96.6,92.1,0.436,0.256,0.538,54.0,56.3,5.4,10.6,NaN,0.442,11.4,25.6,0.397,NaN,0.475,13.6,81.8,0.177
2,2,3.0,2009-11-01,@,LAL,L,110.0,118.0,40.0,89.0,0.449,7.0,23.0,0.304,23.0,26.0,0.885,14.0,40.0,21.0,8.0,3.0,19.0,21.0,109.4,117.4,100.5,0.292,0.258,0.548,48.8,52.5,8.0,4.2,NaN,0.489,15.9,31.1,0.258,NaN,0.557,13.3,70.3,0.241
3,3,4.0,2009-11-03,@,POR,W,97.0,91.0,37.0,80.0,0.463,5.0,15.0,0.333,18.0,22.0,0.818,11.0,46.0,21.0,4.0,7.0,11.0,15.0,111.6,104.7,86.9,0.275,0.188,0.541,56.1,56.8,4.6,10.9,NaN,0.494,10.9,29.7,0.225,NaN,0.459,8.0,77.8,0.153
4,4,5.0,2009-11-04,@,SAC,W,113.0,105.0,46.0,85.0,0.541,6.0,16.0,0.375,15.0,19.0,0.789,12.0,47.0,17.0,2.0,10.0,16.0,20.0,120.6,112.1,93.7,0.224,0.188,0.605,52.2,37.0,2.1,12.3,NaN,0.576,14.6,33.3,0.176,NaN,0.443,6.1,64.8,0.208

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26458 entries, 0 to 26457
Data columns (total 44 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  26458 non-null  int64
 1   G           24118 non-null  float64
 2   Date        24118 non-null  object
 3               12059 non-null  object
 4   Opp         24118 non-null  object
 5   W/L         24118 non-null  object
 6   Tm          24118 non-null  float64
 7   Opp.1       24118 non-null  float64
 8   FG          24118 non-null  float64
 9   FGA         24118 non-null  float64
 10  FG%         24118 non-null  float64
 11  3P          24118 non-null  float64
 12  3PA         24118 non-null  float64
 13  3P%         24118 non-null  float64
 14  FT          24118 non-null  float64
 15  FTA         24118 non-null  float64
 16  FT%         24118 non-null  float64
 17  ORB         24118 non-null  float64
 18  TRB         24118 non-null  float64
 19  AST         24118 non-null  float64
 20  STL         24118 non-null  float64
 21  BLK         24118 non-null  float64
 22  TOV         24118 non-null  float64
 23  PF          24118 non-null  float64
 24  ORtg        24118 non-null  float64
 25  DRtg        24118 non-null  float64
 26  Pace        24118 non-null  float64
 27  FTr         24118 non-null  float64
 28  3PAr        24118 non-null  float64
 29  TS%         24118 non-null  float64
 30  TRB%        24118 non-null  float64
 31  AST%        24118 non-null  float64
 32  STL%        24118 non-null  float64
 33  BLK%        24118 non-null  float64
 34   .1         0 non-null      float64
 35  eFG%        24118 non-null  float64
 36  TOV%        24118 non-null  float64
 37  ORB%        24118 non-null  float64
 38  FT/FGA      24118 non-null  float64
 39   .2         0 non-null      float64
 40  eFG%.1      24118 non-null  float64
 41  TOV%.1      24118 non-null  float64
 42  DRB%        24118 non-null  float64
 43  FT/FGA.1    24118 non-null  float64
dtypes: float64(39), int64(1), object(4)
memory usage: 8.9+ MB

In [32]:
#Change column name to Home/away
df.rename(columns={'\xa0':'Home/Away'}, inplace=True)

In [33]:
df.drop(df.columns[[34, 39]], axis=1, inplace=True)

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26458 entries, 0 to 26457
Data columns (total 42 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  26458 non-null  int64
 1   G           24118 non-null  float64
 2   Date        24118 non-null  object
 3   Home/Away   12059 non-null  object
 4   Opp         24118 non-null  object
 5   W/L         24118 non-null  object
 6   Tm          24118 non-null  float64
 7   Opp.1       24118 non-null  float64
 8   FG          24118 non-null  float64
 9   FGA         24118 non-null  float64
 10  FG%         24118 non-null  float64
 11  3P          24118 non-null  float64
 12  3PA         24118 non-null  float64
 13  3P%         24118 non-null  float64
 14  FT          24118 non-null  float64
 15  FTA         24118 non-null  float64
 16  FT%         24118 non-null  float64
 17  ORB         24118 non-null  float64
 18  TRB         24118 non-null  float64
 19  AST         24118 non-null  float64
 20  STL         24118 non-null  float64
 21  BLK         24118 non-null  float64
 22  TOV         24118 non-null  float64
 23  PF          24118 non-null  float64
 24  ORtg        24118 non-null  float64
 25  DRtg        24118 non-null  float64
 26  Pace        24118 non-null  float64
 27  FTr         24118 non-null  float64
 28  3PAr        24118 non-null  float64
 29  TS%         24118 non-null  float64
 30  TRB%        24118 non-null  float64
 31  AST%        24118 non-null  float64
 32  STL%        24118 non-null  float64
 33  BLK%        24118 non-null  float64
 34  eFG%        24118 non-null  float64
 35  TOV%        24118 non-null  float64
 36  ORB%        24118 non-null  float64
 37  FT/FGA      24118 non-null  float64
 38  eFG%.1      24118 non-null  float64
 39  TOV%.1      24118 non-null  float64
 40  DRB%        24118 non-null  float64
 41  FT/FGA.1    24118 non-null  float64
dtypes: float64(37), int64(1), object(4)
memory usage: 8.5+ MB

In [17]:
# Drop the .1 and .2 columns

# rename the columns for O and D 4 factors